{% extends "layout.html" %}
{% block content %}
  <div data-expenses-home>
    {% include "partials/expenses/_header.html" %}
    {% include "partials/expenses/_summary_cards.html" %}

    <div class="holdings-grid">
      <div class="holdings-main">
        {% include "partials/expenses/_import_statements.html" %}
        {% include "partials/expenses/_batches.html" %}
        {% include "partials/expenses/_maintenance.html" %}
      </div>
      <aside class="holdings-aside">
        {% include "partials/expenses/_import_rj_cash_outs.html" %}
        {% include "partials/expenses/_accounts.html" %}
        {% include "partials/expenses/_help.html" %}
      </aside>
    </div>
  </div>

  <script src="/static/expenses_home.js?v={{ static_version or '0' }}"></script>
{% endblock %}

