{% extends "layout.html" %}
{% block content %}
  <div data-holdings>
    {% include "partials/holdings/_header.html" %}
    {% include "partials/holdings/_summary_cards.html" %}

    <div class="holdings-grid">
      <div class="holdings-main">
        {% include "partials/holdings/_table.html" %}
        {% include "partials/holdings/_metrics.html" %}
        {% include "partials/holdings/_details.html" %}
      </div>
      <aside class="holdings-aside">
        {% include "partials/holdings/_controls.html" %}
      </aside>
    </div>
  </div>

  <script src="/static/holdings.js?v={{ static_version or '0' }}"></script>
{% endblock %}

